Package: libunrar-dev
Source: unrar-nonfree
Version: 1:5.6.6-2
Architecture: amd64
Maintainer: Martin Meredith <mez@debian.org>
Installed-Size: 5524
Depends: libunrar5 (= 1:5.6.6-2)
Section: non-free/libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.rarlabs.com/
Description: Unarchiver for .rar files (non-free version) - development files
 This package contains the static library and header files for the
 libunrar library.
